<%= form_for([:manage, :cinema, @cinema, @employment], :html => { :class => "form-horizontal" }) do |f| %>
  <% if @employment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employment.errors.count, "error") %> prohibited this employment from being saved:</h2>

      <ul>
      <% @employment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit "保存", :class => "btn btn-info" %>
    </div>  
  </div>
<% end %>