<section id="movie-page">
  <div class="container">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">美月无忧电影</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">购票</a></li>
            <li><a href="#">问答</a></li>
          </ul>
          <% if current_member.role.seller? and is_cinema_owner? %>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "我的电影院", cinemas_path %></a></li>
          </ul>
          <% end %>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </div>
</section>
<section id="movies">
  <div class="container">
    <div class="row">
      <section class="col-lg-9 col-md-9 col-sm-12 col-xs-12">         
        <div id="movie" class="ui-slide-box">
          <div class="ui-slide-control">
            <span class="title">近期上映</span>
            <div class="pull-right">
              <a class="prev-next-btn left" href="#" data-slide="prev">
              </a>
              <a class="prev-next-btn right" href="#"  data-slide="next">
              </a>
            </div>
          </div>
          <div class="ui-slide-content">
            <div class="row">
              <% @movies.each do |movie| %>
              <div class="ui-slide-content-box col-md-3">
                <%= link_to movie_path(movie) do %>
                  <%= image_tag(movie.cover.url("140x140")) %>
                <% end %>
                <div class="controll-box">
                  <a href="" class="left pull-left" alt="订票">
                    <span class="fa fa-plus"></span>
                  </a>
                  <a href="" class="right pull-right" alt="赞">
                    <span class="fa fa-heart"></span>
                  </a>
                </div>
              </div>
              <% end %>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>