<div class="col-md-2">
  <div class="sidebar"></div>
</div>
<div class="col-md-10">
  <div class="content">
    <ul class="breadcrumb">
      <li>管理面板</li>
      <li>节点管理</li>
      <li>属性管理</li>
    </ul>
    <section>
      <div class="page-header">
        <h1>节点所有属性 - <%= @node.name %></h1>
      </div>
      <ul id="ztree" class="ztree">
      </ul>
    </section>
  </div>
</div>