		<footer id="footer">
			<div class="footer-center">
				<div class="container">
					<p id="back-top"> <a href="#top"><i class="fa fa-caret-up"></i></a> </p>
					<div id="powered">
						<div class="container">
							<div class="copyright pull-left">
								Copyright 2014 Powered by 新兴县鼎瞻软件有限公司.All Rights Reserved		Designed by Stephen
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>