		<footer id="footer">
			<div class="footer-center">
				<div class="container">
					<p id="back-top"> <a href="#top"><i class="fa fa-caret-up"></i></a> </p>
					<div id="powered">
						<div class="container">
							<div class="copyright pull-left">
								Copyright 2013 Powered by OpenCart.All Rights Reserved		Designed by <a href="http://www.themelexus.com" title="pavethemes - opencart themes clubs" target="_blank">ThemeLexus</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>