<% if f.object.errors.any? %>
  <% f.object.errors.full_messages.each do |msg| %>
    <div class="alert alert-danger"><%= link_to 'x', "#", :class => "close", 'data-dismiss' => "alert" %><%= msg %></div>
  <% end %>
<% end %>