			<section id="header-main">		
				<div class="container">
					<div class="header-wrap">
						<div class="pull-left inner">
							<div id="logo">
								<a href="http://www.meiyuewuyou.com">
									<img src="http://www.themelexus.com/demo/opencart/megashop/image/data/logo.png" />
								</a>
							</div>				
						</div>
						<div class="pull-right inner">
							<div class="navbar navbar-default">
								<div class="collapse navbar-collapse navbar-ex1-collapse">
									<ul class="nav navbar-nav">
										<li>
											<%= link_to "首页", root_path %>
										</li>
										<li>
											<%= link_to "商城", home_market_path %>
										</li>
										<li>
											<%= link_to "电影", movies_path %>
										</li>
									</ul>
								</div>
							</div>
						</div>													
					</div>
				</div>
			</section>