<section id="columns" class="offcanvas-siderbars">
	<div class="container">
		<div class="row">
			<section class="col-lg-9 col-md-9 col-sm-12 col-xs-12">         
				<div id="content" class="ui-slide-movie">
					<div class="ui-slide-control">
						<span class="title">电影</span>
						<div class="pull-right">
							<a class="prev-next-btn left" href="#" data-slide="prev">
							</a>
							<a class="prev-next-btn right" href="#"  data-slide="next">
							</a>
						</div>
					</div>
					<div class="ui-slide-content row">
						<% @movies.each do |movie| %>
						<div class="ui-slide-content-box col-md-3">
							<%= link_to movie_path(movie) do %>
								<%= image_tag(movie.cover.url("140x140")) %>
							<% end %>
							<div class="controll-box">
								<a href="" class="left pull-left" alt="订票">
									<span class="fa fa-plus"></span>
								</a>
								<a href="" class="right pull-right" alt="赞">
									<span class="fa fa-heart"></span>
								</a>
							</div>
						</div>
						<% end %>
					</div>
				</div>
			</section>
		</div>

		<div class="row">
			<section class="col-lg-9 col-md-9 col-sm-12 col-xs-12">         
				<div id="content">
					<div class="ui-slide-control">
						<span class="title">商城</span>
						<div class="pull-right">
							<a class="prev-next-btn left" href="#" data-slide="prev">
							</a>
							<a class="prev-next-btn right" href="#"  data-slide="next">
							</a>
						</div>
					</div>
					<div class="ui-slide-content row">
						<% @products.each do |product| %>
						<div class="ui-slide-content-box col-md-3">
							<%= image_tag(product.pictures.first.image.url("140x140")) %>
							<div class="controll-box">
								<a href="" class="left pull-left" alt="订票">
									<span class="fa fa-plus"></span>
								</a>
								<a href="" class="right pull-right" alt="赞">
									<span class="fa fa-heart"></span>
								</a>
							</div>
						</div>
						<% end %>
					</div>
				</div>
			</section>
		</div>
	</div>
</section>