<% @node.natures.where(:parent_id => nil).each do |root| %>
  <div class="control-group">
    <label class="control-label"><%= root.name %></label>
    <div class="controls">
      <% Nature.where(:parent_id => root.id).each do |leave| %>
      <label class="checkbox inline">
        <%= check_box_tag "product[nature_ids][]", leave.id, @product.natures.map(&:id).include?(leave.id) if not @product.blank? %>
        <%= leave.name %>
      </label>
      <% end %>
    </div>
  </div>
<% end %>