        <div class="col-md-2">
          <div class="sidebar">
            
          </div>
        </div>
        <div class="col-md-10">
          <div class="content">
            <ul class="breadcrumb">
              <li>管理面板</li>
              <li>会员管理</li>
              <li>会员 - <%= @member.email %></li>
            </ul>
            <%= render 'form' %>
          </div>
        </div>