/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require stylesheet
 *= require pavdeals
 *= require pavproducttabs
 *= require pavproductcarousel
 *= require pavquickview
 *= require pavcontentslider
 *= require pavcarousel
 *= require style
 *= require products
 *= require_self
 */

 .breadcrumb {
 	background-color: #FFF;
 }

.ui-slide-movie {
}

.ui-slide-control {
  border-bottom: solid 1px blue;
  height: 40px;
  padding-top: 10px;
}

.ui-slide-control .title {
  font-size: 18px;
}

.ui-slide-control .prev-next-btn  {
  display: block;
  float: left;
  width: 18px;
  height: 18px;
  margin-right: 5px;
  cursor: pointer;
  background: image-url('slide_swithc_2.png') no-repeat
}

.ui-slide-control .left {
  background-position: 0 0;
}

.ui-slide-control .right {
  background-position: -18px 0;
}

.ui-slide-content {
  margin-top: 10px;
}

.ui-slide-content .ui-slide-content-box {
  padding: 0px;
  margin-left: 20px;
  margin-bottom: 10px;
  width:150px;
  height: 240px;
  font-weight: 300;
  cursor: pointer;
  color: #88818d;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}

.ui-slide-content .ui-slide-content-box img {
  margin: 5px;
  max-width: 140px;
  height: 200px;
}

.ui-slide-content .ui-slide-content-box .controll-box {
  height: 20px;
  border-top: 1px solid #e8e8e8;
}

.ui-slide-content .ui-slide-content-box .controll-box .left {
  margin-top: 5px;
  margin-left: 5px;
}

.ui-slide-content .ui-slide-content-box .controll-box .right {
  margin-top: 5px;
  margin-right: 5px;
}

#movie {
  margin-top: 20px;
  h1 {
    color:#333; 
    font-size:28px; line-height:38px; height:38px; overflow:hidden;
    margin-bottom:0px;
    .year { color:#999; font-size:14px; }
  }
  .unchecked{  
    border: 1px solid gray;  
    padding: 6px 6px 6px 6px;  
  }  
  .checked{  
    border: 2px solid #c00;  
    padding: 6px 6px 6px 6px;  
  }
  .box2 {
    position:relative;
    margin-bottom:20px;
    padding: 0px;
    h2 {
      margin: 0px;
      padding-top:5px;
      font-size:14px; font-weight:normal;
      background:#4b65c6; color:#fff;
      width:50px;
      height: 25px;
      position:absolute;
      left:0; top:0;
      text-align:center;
    }
    .items {
      border:1px solid #ddd;
      border-top:3px solid #4b65c6;
      padding:20px;
      margin:0;
      margin-left: 49px;
      ul, ol {
        margin:0; padding:0;
      }
      li.item {
        text-align: center;
        list-style:none; margin:0; padding:0;
      }
    }
  }
  .sub_title { 
    padding-left:4px;
    margin-top:5px;
    margin-bottom:20px;
    .countries, .categories { margin-right:10px; }
    .countries a { color:#a92816; }
  }
  ul.details {
    margin-left:0px;
    list-style:none;
    h2 { margin:0; padding:0; display:inline; line-height:100%; font-size:13px; font-weight:normal;}
    li {
      color:#666;
      line-height:160%;
      margin-bottom:6px;
      a { 
        color:#555; text-decoration: none; display:inline-block;
        &:hover {
          text-decoration: underline;
        }
      }
      b { color:#999; margin-right:6px; font-weight:normal;}
    }
  }
  .summary {
    font-size: 16px;
  }
  
  .btn {
    border: none;
    font-size: 15px;
    font-weight: normal;
    line-height: 1.4;
    border-radius: 4px;
    padding: 10px 15px;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
    transition: border .25s linear, color .25s linear, background-color .25s linear;
  }
  .btn:hover,
  .btn:focus {
    outline: none;
    color: #ffffff;
  }
  .btn:active,
  .btn.active {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .btn.disabled,
  .btn[disabled],
  fieldset[disabled] .btn {
    background-color: #bdc3c7;
    color: rgba(255, 255, 255, 0.75);
    opacity: 0.7;
    filter: alpha(opacity=70);
  }
  .btn > [class^="fui-"] {
    margin: 0 1px;
    position: relative;
    line-height: 1;
    top: 1px;
  }
  .btn-xs.btn > [class^="fui-"] {
    font-size: 11px;
    top: 0;
  }
  .btn-hg.btn > [class^="fui-"] {
    top: 2px;
  }
  .btn-primary {
    color: #ffffff;
    background-color: #1abc9c;
  }
  .btn-primary:hover,
  .btn-primary:focus,
  .btn-primary:active,
  .btn-primary.active,
  .open .dropdown-toggle.btn-primary {
    color: #ffffff;
    background-color: #48c9b0;
    border-color: #48c9b0;
  }
  .btn-primary:active,
  .btn-primary.active,
  .open .dropdown-toggle.btn-primary {
    background: #16a085;
    border-color: #16a085;
  }
  .btn-primary.disabled,
  .btn-primary[disabled],
  fieldset[disabled] .btn-primary,
  .btn-primary.disabled:hover,
  .btn-primary[disabled]:hover,
  fieldset[disabled] .btn-primary:hover,
  .btn-primary.disabled:focus,
  .btn-primary[disabled]:focus,
  fieldset[disabled] .btn-primary:focus,
  .btn-primary.disabled:active,
  .btn-primary[disabled]:active,
  fieldset[disabled] .btn-primary:active,
  .btn-primary.disabled.active,
  .btn-primary[disabled].active,
  fieldset[disabled] .btn-primary.active {
    background-color: #1abc9c;
    border-color: #1abc9c;
  }
  #hall_seats {
    ul {
      margin-bottom: 20px;
    }
  }
}

.ui-movie-ext-title {
  font-size: 16px;
  border-bottom: solid 2px #777;
}