/*
 *= require font-awesome
*/

@import "bootstrap";
@import "stylesheet";
@import "bootstrap-editable";
@import "essage";
@import "video-js";

.suc {
  margin:0 0 10px 30px; padding-top:20px; font-size:22px; font-weight:bold; color:#ff9630;
}
.underline {
  padding:0 0 20px 30px; border-bottom:1px dashed #e3e3e3; color:#999;
}
.help-info {
  line-height: 35px;
}

#header-main {
  background-color: transparent;
}
#header-main .header-wrap {
  min-height: 94px;
  margin: 0;
}
#header-main .inner {
  display: table;
  position: relative;
  height: 100%;
  margin-top: 30px;
}
#header-main .inner > * {
  display: table-cell;
  vertical-align: middle;
}
#header-main .navbar {
  background-color: transparent;
  border: 0;
  font-size: 20px;
}
 
.xm-recharge-form {
    padding: 16px;
    font-size: 12px;
    color: #434a54
}

.xm-recharge-form fieldset {
    margin: 0 0 10px;
    padding: 0;
    border: 0
}

.xm-recharge-form label {
    display: inline-block;
    *display: inline;
    *zoom: 1
}

.xm-recharge-form label input {
    margin-right: 2px;
    _margin-right: 0;
}

.xm-recharge-form .fieldset-name {
    float: left;
    width: 42px;
}

.xm-recharge-form .xm-recharge-tel label {
    margin-bottom: 5px;
}

.xm-recharge-form .xm-recharge-tel input:focus {
    color: #656d78;
    border-color: #f84858
}

.xm-recharge-form .xm-recharge-tel .xm-recharge-tips {
    font-size: 12px
}

.xm-recharge-form .xm-recharge-price .fieldset-text {
    color: #f84858
}

.xm-recharge-form .xm-recharge-submit {
    margin: 10px 0 0
}

.xm-recharge-form .xm-recharge-submit .btn-recharge-submit {
    width: 198px;
    height: 40px;
    border: 0;
    color: #fff;
    background: #f84858;
}

.newgoods .span3 {
    overflow: hidden
}

.newgoods .span3 .home-recharge-box {
    height: 261px;
    overflow: hidden;
    _zoom: 1
}

.newgoods .span3 .home-recharge-box .xm-recharge-form {
    padding: 16px 15px
}

.newgoods .home-goods-listlt {
    float: left;
    width: 590px;
    margin-left: 10px;
    _display: inline
}

.newgoods .home-goods-listrt {
    float: left;
    width: 225px
}

.newgoods .home-goods-list {
    padding: 10px 0 0
}

.newgoods .home-goods-list li {
    position: relative;
    float: left;
    width: 280px;
    height: 310px;
    margin: 0px 10px 10px 0px;
    overflow: hidden
}

.newgoods .home-goods-list li a:hover {
    filter: alpha(opacity=50)\0;
    filter: alpha(opacity=50)
}

.newgoods .home-goods-list li a:hover:before {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    width: 280px;
    height: 310px;
    border: 5px solid rgba(0, 0, 0, 0.05);
    content: ""
}

.newgoods .home-goods-list li a {
    display: block;
    position: relative
}

.newgoods .home-goods-list li img {
    width: 280px;
    height: 310px
}

.newgoods .home-goods-list li.big {
    width: 570px
}

.newgoods .home-goods-list li.big a:before {
    width: 570px
}

.newgoods .home-goods-list li.big img {
    width: 570px;
    height: 310px
}

.newgoods .home-goods-list li.small {
    height: 150px
}

.newgoods .home-goods-list li.small img {
    width: 225px;
    height: 150px
}

.newgoods .home-goods-list li.small a:before {
    height: 140px
}

.newgoods .home-goods-list li.small a:hover:before {
    width: 225px;
    height: 150px;
}

.newgoods .home-goods-list li.small a {
    display: block;
    margin-bottom: 10px
}

.newgoods .home-goods-list li.last {
    margin-right: 0px
}

.newgoods .xm-recharge-amount {
    display: block;
    width: 206px
}

.newgoods .spike {
    position: relative;
    height: 300px;
    text-align: center;
    color: #656d78
}

.newgoods .spike .spikelnk {
    display: block;
    color: #656d78;
    text-decoration: none
}

.newgoods .spike .spikelnk:hover img {
    filter: alpha(opacity=50)\0;
    *filter: alpha(opacity=50)
}

.newgoods .spike .spikelnk:hover:before {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    width: 220px;
    height: 290px;
    border: 5px solid rgba(0, 0, 0, 0.05);
    content: ""
}

.newgoods .spike strong {
    display: block;
    font-size: 18px;
    padding-top: 20px
}

.newgoods .spike p {
    font-size: 12px
}

.newgoods .spike .price {
    display: block;
    color: #da4453;
    font-size: 12px
}

.newgoods .spike .timebtn {
    display: block;
    width: 100%;
    height: 35px;
    line-height: 35px;
    color: #fff;
    text-align: center;
    background: #ee5567;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px
}

.newgoods .spike .time {
    display: block;
    width: 100%;
    height: 35px;
    line-height: 35px;
    color: #fff;
    text-align: center;
    background: #aab2bd;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px
}

.newgoods .spike .time span {
    margin-right: 16px;
    font-style: normal
}

.newgoods .spike .timecont {
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 0;
    width: 100%;
    height: 35px;
    text-align: center;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    overflow: hidden
}

.newgoods .forum {
    height: 120px;
    line-height: 22px;
    font-size: 12px
}

.newgoods .forum a {
    color: #434a54;
    text-decoration: none
}

.newgoods .forum a:hover {
    color: #f84858
}

.newgoods .forum dl {
    padding-top: 15px;
    padding-left: 20px
}

.newgoods .forum dl em {
    margin-right: 6px;
    font-size: 20px;
    vertical-align: -5px
}


.ui-slide-box {
  margin-bottom: 20px;
}

.ui-slide-control {
  background-color: #FFF;
  border-bottom: solid 1px #CCC;
  height: 40px;
  padding: 10px;
  border-radius: 4px 4px 0 0;
}

.ui-slide-control .title {
  font-size: 18px;
}

.ui-slide-control .prev-next-btn  {
  display: block;
  float: left;
  width: 18px;
  height: 18px;
  margin-right: 5px;
  cursor: pointer;
  background: image-url('slide_swithc_2.png') no-repeat
}

.ui-slide-control .left {
  background-position: 0 0;
}

.ui-slide-control .right {
  background-position: -18px 0;
}

.ui-slide-content {
  padding: 10px;
  background-color: #FFF;
  border-radius: 0 0 4px 4px;
}

.ui-slide-content .ui-slide-content-box {
  padding: 0px;
  margin-left: 18px;
  margin-bottom: 10px;
  width:150px;
  height: 240px;
  font-weight: 300;
  cursor: pointer;
  color: #88818d;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}


.ui-slide-content .ui-slide-content-box .controll-box {
  height: 20px;
  border-top: 1px solid #e8e8e8;
}

.ui-slide-content .ui-slide-content-box .controll-box .left {
  margin-top: 5px;
  margin-left: 5px;
}

.ui-slide-content .ui-slide-content-box .controll-box .right {
  margin-top: 5px;
  margin-right: 5px;
}

#movie, #ticket, #food {
  .ui-slide-content .ui-slide-content-box img {
    margin: 5px;
    max-width: 140px;
    height: 200px;
  }
  margin-top: 20px;
  h1 {
    color:#333; 
    font-size:28px; line-height:38px; height:38px; overflow:hidden;
    margin-bottom:0px;
    .year { color:#999; font-size:14px; }
  }
  .unchecked{  
    border: 1px solid gray;  
    padding: 6px 6px 6px 6px;  
  }  
  .checked{  
    border: 2px solid #c00;  
    padding: 6px 6px 6px 6px;  
  }
  .box2 {
    position:relative;
    margin-bottom:20px;
    padding: 0px;
    h2 {
      margin: 0px;
      padding-top:5px;
      font-size:14px; font-weight:normal;
      background:#4b65c6; color:#fff;
      width:50px;
      height: 25px;
      position:absolute;
      left:0; top:0;
      text-align:center;
    }
    .items {
      border:1px solid #ddd;
      border-top:3px solid #4b65c6;
      padding:20px;
      margin:0;
      margin-left: 49px;
      ul, ol {
        margin:0; padding:0;
      }
      li.item {
        text-align: center;
        list-style:none; margin:0; padding:0;
      }
    }
  }
  .sub_title { 
    padding-left:4px;
    margin-top:5px;
    margin-bottom:20px;
    .countries, .categories { margin-right:10px; }
    .countries a { color:#a92816; }
  }
  ul.details {
    margin-left:0px;
    list-style:none;
    h2 { margin:0; padding:0; display:inline; line-height:100%; font-size:13px; font-weight:normal;}
    li {
      color:#666;
      line-height:160%;
      margin-bottom:6px;
      a { 
        color:#555; text-decoration: none; display:inline-block;
        &:hover {
          text-decoration: underline;
        }
      }
      b { color:#999; margin-right:6px; font-weight:normal;}
    }
  }
  .summary {
    font-size: 16px;
  }
  #hall_seats {
    ul {
      margin-bottom: 20px;
    }
  }
}

#ticket_order {
  .movie-order {
    li {
      padding: 5px;
    }
    li.line {
      padding: 0px;
      height:1px;
      background-color: #CCC;
    }
  }
}

.ui-movie-ext-title {
  font-size: 16px;
  border-bottom: solid 2px #777;
}

#food-page {
  a {
    color: #FFF;
  }
  .navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
    background-color: #48B2B6;
  }
  .navbar-nav > .active > a {
    background-color: #48B2B6;
  }
  .navbar-default {
    background-color: #0E959D;
  }
}

#movie-page {
  a {
    color: #FFF;
  }
  .navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
    background-color: #5da9d8;
  }
  .navbar-nav > .active > a {
    background-color: #5da9d8;
  }
  .navbar-default {
    background-color: #3695d0;
  }
}

#market-page {
  a {
    color: #FFF;
  }
  .navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
    background-color: #ed5466;
  }
  .navbar-nav > .active > a {
    background-color: #ed5466;
  }
  .navbar-default {
    background-color: #dd4250;
  }
}

#market {
  .product-category li {
    background-color: #fffbea;
    border-color: #f4edd9;
  }
  .product-category li:hover {
    background-color: #fcf5de;
  }
  .product-category li > a {
    color: #974c19;
  }
  .products-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    _zoom: 1
  }
  .products-list li {
    position: relative;
    padding: 0px;
    border: solid #ededed;
    border-width: 0 1px 1px 0;
    background: #fff;
    overflow: hidden;
    _zoom: 1
  }
  .products-list li:hover {
    background: #f8f8f8;
  }
  .products-item {
    position: relative;
    margin: 5px;
    padding: 10px 15px;
    background: #fff;
    *zoom: 1;
    width: 197px;
  }
  .products-item .item-thumb {
    padding: 25px 0;
    text-align: center;
  }
  .products-item .item-thumb img {
    width: 180px;
    height: 180px;
    background: image-url("loading.gif") no-repeat 50% 50%;
  }
  .products-item .item-name {
    width: 100%;
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3;
  }
  .products-item .item-name a {
    color: #434a54;
  }
  .products-item .item-name a:hover {
    color: #f84858;
    text-decoration: none;
  }
  .products-item .item-price {
    line-height: 1.3;
    color: #434a54;
  }
  .products-item .item-price del{
    color: #aab2bd;
    margin-left: 10px;
    text-decoration: line-through;
  }
  .products-item .item-action {
    margin: 5px 0 0;
    font-size: 14px;
  }
}

#good, #movie {
  .icon-slides {
    display:inline-block;
    *display:inline;
    *zoom:1;
    width:41px;
    height:69px;
    text-indent:
    -9999em;
    overflow:hidden;
    background-image: image-url("icon-slides.png");
    background-repeat:no-repeat;
    _filter:alpha(opacity=40);
  }
  .icon-slides:hover {
    opacity:.6;
    filter:alpha(opacity=60);
  }
  .icon-slides:focus {
    outline:0;
  }
  .icon-slides-prev {
    background-position:-84px center;
  }
  .icon-slides-prev:hover {
    background-position:0 center;
  }
  .icon-slides-next {
    background-position:-125px center;
  }
  .icon-slides-next:hover {
    background-position:-42px center;
  }
  .goods-detail-info {
    padding: 0px;
    background: #fff;
  }

  .goods-pic-box, .goods-info-box {
    min-height: 620px;
    _height: 620px
  }

  .goods-pic-box {
    text-align: center
  }

  .goods-pic-box .icon-slides {
    position: absolute;
    top: 0;
    cursor: pointer
  }

  .goods-pic-box .icon-slides-prev {
      left: 0
  }

  .goods-pic-box .icon-slides-next {
      right: 0
  }

  .goods-big-pic {
    height: 550px;
    padding: 20px 0 10px;
    background: image-url("loading.gif") no-repeat center center
  }

  .goods-big-pic img {
      width: 500px;
      height: 500px
  }

  .goods-small-pic li {
    display: inline-block;
    *display: inline;
    width: 60px;
    height: 60px;
    margin: 0 5px;
    cursor: pointer;
    zoom: 1;
    border: 3px solid #fff;
    border-radius: 5px
  }

  .goods-small-pic li img {
    width: 60px;
    height: 60px
  }

  .goods-small-pic li.current {
    border-color: #ededed
  }

  .goods-info-box {
    padding: 0 28px 0 29px;
    border-left: 1px solid #ededed;
    font-size: 12px;
    color: #434a54
  }

  .goods-info-box dt {
      padding-bottom: 15px
  }

  .goods-info-box dt .discount {
      padding-bottom: 30px
  }

  .goods-info-box dt .discount p {
      height: 40px;
      margin-bottom: -10px
  }

  .goods-info-box h1 {
      font-size: 24px;
      line-height: 1.5
  }

  .goods-info-box dd {
      padding: 10px 0;
      position: relative;
      border-top: 1px solid #ededed
  }

  .goods-info-box .goods-info-extent {
      border: none;
      padding-top: 20px
  }

  .goods-info-phone {
      font-size: 14px;
      line-height: 2;
      color: #656d78
  }

  .goods-info-price .item {
      padding: 4px 0
  }

  .goods-info-price .goods-info-activity {
      padding-left: 60px;
      position: relative;
      color: #da4453
  }

  .goods-info-price .goods-info-activity label {
      position: absolute;
      top: 4px;
      left: 0;
      _left: -60px;
      color: #434a54
  }

  .goods-info-price .goods-info-activity .icon {
      padding: 1px 3px;
      margin-right: 8px;
      background-color: #da4453;
      color: #fff
  }

  .goods-info-price .goods-info-activity a {
      margin-left: 8px;
      color: #36c
  }

  .goods-info-price .letter-spacing-2 {
      letter-spacing: 2em
  }

  .goods-info-price .letter-spacing-half {
      letter-spacing: 0.5em
  }

  .goods-info-price .goods-info-price-num {
      font-size: 14px;
      color: #f84858
  }

  .goods-info-price .goods-info-price-num em {
      font-size: 24px;
      margin-right: 5px
  }

  .goods-info-price del {
      color: #aab2bd
  }

  .goods-info-price .icon-stat {
      margin-right: 5px;
      margin-bottom: -2px
  }

  .goods-info-options {
      padding: 10px 0;
      margin-bottom: -10px;
      overflow: hidden;
      zoom: 1
  }

  .goods-info-options .label {
      display: block;
      margin-bottom: 10px
  }

  .goods-info-options .item {
      float: left;
      display: inline-block;
      padding: 1px 11px;
      height: 24px;
      line-height: 24px;
      margin: 0 10px 10px 0;
      border: 1px solid #ededed;
      overflow: hidden
  }

  .goods-info-options .item:hover {
      text-decoration: none
  }

  .goods-info-options .selected {
      padding: 0 10px;
      border: 2px solid #f84858;
      color: #f84858
  }

  .goods-info-quantity {
    padding: 10px 12px;
  }
  .goods-info-quantity:before,
  .goods-info-quantity:after {
    content: " ";
    display: table;
  }
  .goods-info-quantity:after {
    clear: both;
  }
  .goods-info-quantity .quantity-adder {
    margin-right: 10px;
  }
  .goods-info-quantity .add-action {
    display: block;
    width: 27px;
    height: 15px;
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
    position: relative;
    cursor: pointer;
    font-size: 7px;
    line-height: 14px;
    text-align: center;
    color: #6f6f6f;
  }
  .goods-info-quantity .add-action:hover {
    color: #d95750;
  }
  .goods-info-quantity .add-up {
    border-bottom: 0;
  }
  .goods-info-quantity .add-to-icon {
    font-size: 16px;
    padding: 6px;
    background: #d95750;
  }

  .icon-goods-notice {
      display: inline-block;
      width: 20px;
      height: 14px;
      margin: -2px 5px 0 0;
      vertical-align: middle;
      background: url("http://p.www.xiaomi.com/zt/2013/icon-goods-notice.png") no-repeat;
      overflow: hidden
  }

  .goods-notice-btn {
      float: left;
      width: 161px;
      margin: 10px 10px 0 0;
      _height: 24px;
      _padding-top: 12px
  }

  .goods-over-btn {
      float: left;
      width: 161px;
      margin: 10px 10px 0 0;
      cursor: default
  }

  #playHeart {
      display: block;
      position: absolute;
      width: 23px;
      height: 23px;
      z-index: 100
  }

  .goods-info-extent li {
      height: 16px;
      line-height: 16px;
      padding: 15px 0;
      border-top: 1px solid #ededed
  }

  .goods-info-extent li .icon-common {
      margin-right: 10px;
      vertical-align: middle;
      margin-top: -2px;
      *margin-top: 0
  }

  .goods-info-extent .sns-share a {
      margin-right: 20px
  }

  .goods-info-extent .sns-share .icon-common {
      margin-right: 0
  }

  .goods-info-extent .sns-share .icon-common-sina {
      background-position: -485px -2px
  }

  .goods-info-extent .sns-share .icon-common-kongjian {
      background-position: -485px -23px
  }

  .goods-detail-box .hd {
      padding-top: 0
  }

  .goods-detail-box .bd {
      padding: 10px
  }

  .godds-desc-menu ul {
      height: 20px;
      padding: 15px 0;
      overflow: hidden
  }

  .godds-desc-menu li {
      float: left;
      margin-left: -1px
  }

  .godds-desc-menu li a {
      display: inline-block;
      line-height: 20px;
      padding: 0 15px;
      color: #434a54;
      font-size: 18px;
      border-left: 1px solid #ccd1d9
  }

  .godds-desc-menu li a:hover {
      text-decoration: none;
      color: #f84858
  }

  .godds-desc-menu .current a {
      color: #f84858
  }

  .godds-desc-par {
      padding: 20px
  }

  .godds-desc-par table {
      width: 100%
  }

  .godds-desc-par table th, .godds-desc-par table td {
      padding: 8px 0 8px 20px;
      border-bottom: 1px solid #ededed;
      text-align: left
  }

  .godds-desc-par table th {
      background-color: #fafafa;
      color: #666
  }

  .godds-desc-par table thead th {
      background-color: #f4f4f6;
      font-weight: normal
  }

  .godds-desc-par table tbody th {
      width: 150px
  }

  .godds-desc-par table tbody td {
      color: #999
  }

  .goods-desc-con {
      width: 100%;
      padding: 10px 0;
      overflow: hidden;
      text-align: center
  }

  .goods-comment-trigger {
      float: right;
      margin: 15px 15px 0 0;
      font-size: 14px
  }

  .goods-comment-trigger .icon-common-comment {
      margin-right: 5px;
      vertical-align: middle
  }

  .goods-comment-list ul {
      margin: 0 10px
  }

  .goods-comment-list li {
      padding: 15px 0;
      border-bottom: 1px solid #ededed
  }

  .goods-comment-list li h2 {
      font-size: 14px;
      color: #f84858
  }

  .goods-comment-list li p {
      font-size: 12px;
      color: #656d78
  }

  .goods-comment-list li .is-top {
      float: right;
      font-size: 12px;
      background-color: #f84858;
      color: #fff;
      padding: 0 8px;
      border-radius: 3px;
      font-weight: normal
  }

  .goods-comment-list li .reply {
      margin: 5px 0 0;
      padding: 10px 20px;
      background-color: #f5f7fa;
      font-size: 12px
  }

  .goods-comment-list li .state {
      margin-top: 10px;
      font-size: 12px;
      color: #aab2bd
  }

  .goods-comment-list li .state a {
      color: #aab2bd
  }

  .goods-comment-list li .state a:hover {
      color: #f84858;
      text-decoration: none
  }

  .goods-comment-list li .state .useful {
      color: #656d78;
      float: right
  }

  .goods-comment-list li .state .line {
      margin: 0 5px
  }

  .goods-comment-list li .icon-stat {
      margin-bottom: -3px;
      margin-right: 3px
  }

  .goods-comment-list .xm-pagenavi {
      display: none
  }

  .goods-faq-sub {
      float: left;
      line-height: 14px;
      font-size: 14px;
      margin: 18px 0 0 10px;
      padding-left: 10px;
      border-left: 1px solid #aab2bd
  }

  .goods-online-trigger {
      float: right;
      line-height: 18px;
      margin: 15px 15px 0 0;
      font-size: 14px
  }

  .goods-online-trigger .icon-common-people {
      margin-right: 5px;
      margin-top: -2px;
      vertical-align: middle
  }

  .goods-trailers-list li {
    width: 250px;
    padding: 20px;
    margin-bottom: -1px
  }

  .goods-faq-list ul {
    overflow: hidden
  }

  .goods-faq-list li {
    float: left;
    width: 400px;
    padding: 20px;
    margin-bottom: -1px
  }

  .goods-faq-list li h2 {
    margin-bottom: 5px;
    font-size: 14px;
    color: #434a54
  }

  .goods-faq-list li p {
    font-size: 12px;
    color: #656d78
  }

  .goods-sub-bar {
      display: block;
      width: 100%;
      height: 60px;
      position: fixed;
      _width: 0;
      _height: 0;
      _overflow: hidden;
      top: -60px;
      left: 0;
      background: #fff;
      z-index: 1000;
      -webkit-transition: .15s ease all;
      -moz-transition: .15s ease all;
      -o-transition: .15s ease all;
      -ms-transition: .15s ease all;
      transition: .15s ease all;
      -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
      *border-bottom: 2px solid #ededed
  }

  .goods-sub-bar .godds-desc-menu ul {
      padding: 20px 0
  }

  .goods-sub-bar .goods-sub-bar-info {
      padding: 10px 0
  }

  .goods-sub-bar .goods-sub-bar-info dt {
      float: left;
      width: 40px;
      height: 40px;
      margin-right: 10px
  }

  .goods-sub-bar .goods-sub-bar-info dt img {
      width: 40px;
      height: 40px
  }

  .goods-sub-bar .goods-sub-bar-info dd {
      float: left
  }

  .goods-sub-bar .goods-sub-bar-info dd strong {
      display: block;
      width: 180px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden
  }

  .goods-sub-bar .goods-sub-bar-info dd em {
      margin-right: 5px;
      color: #f84858
  }

  .goods-sub-bar .goods-sub-bar-info dd del {
      color: #aab2bd
  }

  .goods-sub-bar .fr {
      float: right
  }

  .goods-sub-bar .fr .btn {
      margin-top: 10px;
      margin-right: 0
  }

  .goods-sub-bar .fr .item-action-state {
      display: block;
      position: absolute;
      left: 0;
      top: 50px;
      z-index: 100;
      width: 161px;
      height: 38px;
      line-height: 38px;
      color: #fff;
      text-align: center;
      background: #91cd50;
      cursor: pointer;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px
  }

  .goods-sub-bar .fr .item-action-state .icon-goods-add-success {
      display: inline-block;
      position: relative;
      top: 2px;
      width: 16px;
      height: 16px;
      margin-right: 2px;
      background: url("http://p.www.xiaomi.com/zt/2013/icon-goods-list.png") no-repeat -36px 0
  }

  .goods-sub-bar .godds-desc-menu li {
      margin-left: 0
  }

  .goods-sub-bar-play {
      top: 0
  }

  .mayBeLike {
      padding-bottom: 10px;
      text-align: center
  }

  .mayBeLike li {
      padding: 10px 10px;
      color: #656d78
  }

  .mayBeLike li del {
      color: #aab2bd
  }

  .mayBeLike li .item-name {
      padding-top: 5px;
      width: 100%;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden
  }

  .modal-faq {
      width: 725px;
      height: 550px;
      margin-top: -275px
  }

  .faq-header {
      width: 695px
  }

  .faq-body {
      padding-right: 0;
      padding-top: 0;
      _padding-right: 0
  }

  .faq-body iframe {
      width: 710px;
      display: block;
      margin: 0;
      border: 0;
      padding: 0
  }

  .goods-change {
      width: 700px;
      margin: 0 auto;
      padding: 40px 0;
      border: 10px solid #f5f5f5;
      background-color: #fff;
      text-align: left
  }

  .goods-change-l {
      float: left;
      width: 390px;
      padding: 70px 0 0 30px
  }

  .goods-change-l h4 {
      font-size: 24px
  }

  .goods-change-l .goods-change-info {
      padding: 15px 0 25px;
      font-size: 14px
  }

  .goods-change-l dl {
      padding-bottom: 24px
  }

  .goods-change-l dl.goods-change-skin {
      padding-bottom: 5px
  }

  .goods-change-l dl dt, .goods-change-l dl dd {
      float: left
  }

  .goods-change-l dl dt {
      width: 90px;
      height: 38px;
      line-height: 38px;
      font-size: 14px;
      font-weight: bold
  }

  .goods-change-l dl dd {
      width: 38px;
      height: 38px;
      margin-right: 10px;
      cursor: pointer
  }

  .goods-change-l dl dd i {
      display: block;
      width: 38px;
      height: 38px;
      background-image: url(http://p.www.xiaomi.com/zt/2013/goods-icon-change.png?1);
      background-repeat: no-repeat
  }

  .goods-change-l dl dd.current {
      background: url(http://p.www.xiaomi.com/zt/2013/goods-icon-change-bg.png) no-repeat center center;
      cursor: default
  }

  .goods-change-l dl dd .goods-icon-change-01 {
      background-position: 4px 4px
  }

  .goods-change-l dl dd .goods-icon-change-02 {
      background-position: -41px 4px
  }

  .goods-change-l dl dd .goods-icon-change-03 {
      background-position: -86px 4px
  }

  .goods-change-l dl dd .goods-icon-change-04 {
      background-position: -131px 4px
  }

  .goods-change-l dl dd .goods-icon-change-05 {
      background-position: -176px 4px
  }

  .goods-change-l dl dd .goods-icon-change-06 {
      background-position: -221px 4px
  }

  .goods-change-l dl dd .goods-icon-change-07 {
      background-position: 4px -44px
  }

  .goods-change-l dl dd .goods-icon-change-08 {
      background-position: -41px -44px
  }

  .goods-change-l dl dd .goods-icon-change-09 {
      background-position: -86px -44px
  }

  .goods-change-l dl dd .goods-icon-change-10 {
      background-position: -131px -44px
  }

  .goods-change-l dl dd .goods-icon-change-11 {
      background-position: -176px -44px
  }

  .goods-change-l dl dd .goods-icon-change-12 {
      background-position: -221px -44px
  }

  .goods-change-l .goods-change-tips {
      color: #666
  }

  .goods-change-l .goods-change-link {
      height: 145px
  }

  .goods-change-r {
      float: right;
      position: relative;
      width: 245px;
      height: 445px;
      margin-right: 25px;
      background-repeat: no-repeat;
      background-position: center center
  }

  .goods-change-r .goods-change-loading {
      display: none;
      width: 150px;
      height: 24px;
      position: absolute;
      left: 50%;
      top: 48%;
      margin-left: -75px;
      line-height: 24px;
      font-size: 12px;
      background: url(http://p.www.xiaomi.com/zt/131008/images/loading.gif) no-repeat scroll 18px center;
      z-index: 1000;
      background-color: rgba(0, 0, 0, 0.6) !important;
      background-color: #333;
      filter: alpha(opacity=70);
      border-radius: 25px;
      color: #eaeaea;
      text-align: center;
      text-indent: 32px
  }

  .goods-comment-box {
      width: 740px;
      margin-left: -370px;
      font-size: 12px;
      margin-top: -300px
  }

  .goods-comment-form {
      width: 710px
  }

  .goods-comment-form .pic {
      float: left;
      width: 350px;
      height: 350px;
      margin-right: 20px
  }

  .goods-comment-form .pic img {
      display: block;
      width: 350px;
      height: 350px
  }

  .goods-comment-form .form-box {
      float: left
  }

  .goods-comment-form .stat-list {
      margin: 0;
      padding: 0;
      list-style-type: none
  }

  .goods-comment-form .stat-list li {
      padding: 4px 0
  }

  .goods-comment-form .stat-list li label, .goods-comment-form .stat-list li .stat-box,
  .goods-comment-form .stat-list li .txt {
      float: left
  }

  .goods-comment-form .stat-list li label {
      color: #434a54
  }

  .goods-comment-form .stat-list li .stat-box {
      width: 90px;
      height: 14px;
      margin-top: 3px;
      position: relative
  }

  .goods-comment-form .stat-list li .stat-holder {
      width: 90px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
      margin: 0
  }

  .goods-comment-form .stat-list li .stat-holder i {
      float: left;
      width: 18px;
      height: 14px;
      cursor: pointer
  }

  .goods-comment-form .stat-list li .msg {
      margin-left: 10px;
      color: #ff6f3d
  }

  .goods-comment-form .comment-text {
      margin-top: 15px
  }

  .goods-comment-form .comment-text label {
      display: block;
      margin-bottom: 5px;
      color: #434a54
  }

  .goods-comment-form .comment-text label em {
      color: #ff6f3d
  }

  .goods-comment-form .comment-text .msg {
      float: right;
      color: #ff6f3d
  }

  .goods-comment-form .comment-text textarea {
      width: 318px;
      height: 100px;
      padding: 10px;
      line-height: 20px;
      border: 1px solid #e5e8ed;
      border-radius: 8px
  }

  .goods-comment-form .comment-text textarea:hover, .goods-comment-form .comment-text textarea:focus {
      border-color: #ff6f3d;
      outline: none
  }

  .goods-comment-form .tips {
      margin: 15px 0 0;
      padding: 0;
      list-style-type: none
  }

  .icon-sina {
      display: inline-block;
      width: 19px;
      height: 16px;
      background: url("http://p.www.xiaomi.com/zt/2013/icon-sina-white.png?0809") no-repeat;
      overflow: hidden
  }

  .goods-comment-result-box {
      width: 400px;
      margin-left: -200px;
      text-align: center
  }

  .goods-comment-result-box .modal-body {
      padding: 20px
  }

  .goods-comment-result-box .hd h3 {
      font-size: 24px;
      margin: 0 0 5px;
      color: #434a54
  }

  .goods-comment-result-box .bd {
      padding: 15px;
      margin-top: 15px;
      background: #f5f7fa;
      border: 1px solid #ededed;
      border-radius: 5px
  }

  .goods-comment-result-box .bd img {
      width: 110px;
      height: 110px
  }

  .goods-comment-result-box .bd .stat-result {
      margin-top: 10px
  }

  .goods-comment-result-box .bd p {
      font-size: 12px
  }

  .goods-comment-result-box .comment-text {
      height: 2em;
      overflow: hidden
  }

  .goods-comment-result-box .comment-share {
      padding-top: 20px
  }

  .goods-comment-result-box .comment-share .btn {
      width: 120px;
      padding: 0 15px;
      margin-bottom: 5px
  }

  .goods-comment-result-box .comment-share .btn .icon-sina {
      margin: -2px 5px 0 0;
      vertical-align: middle
  }

  .goods-comment-result-box .comment-share p {
      color: #aab2bd;
      font-size: 12px
  }

  .goods-comment-tip-box dl {
      padding: 10px;
      line-height: 2
  }

  .goods-comment-tip-box .btn {
      display: block;
      margin: 10px auto 0
  }
}

.seating_chart {
  td {
    padding: 5px;
  }
}

.footer {
    margin-top: 20px;
    overflow: hidden
}

.footer ul, .footer li, .footer dl, .footer dt, .footer dd, .footer a, .footer strong,
.footer label, .footer em {
    list-style: none;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px
}

.footer .footerup {
    padding: 10px 10px 10px 10px;
    background: #fff
}

.footer .footercont {
    background: #f5f7fa
}

.footer .nums {
    padding: 20px 0px 20px 0px;
    color: #656d78;
    font-size: 15px;
    border-bottom: 1px solid #ededed
}

.footer .nums li {
    float: left;
    width: 270px;
    text-align: center
}

.footer .nums li span {
    font-size: 42px;
    margin-right: 5px
}

.footer .nums li strong {
    display: inline-block;
    font-weight: 400;
    font-size: 14px
}

.footer .nums li strong label {
    display: block;
    text-align: left
}

.footer .nums li.line {
    width: 1px;
    height: 38px;
    font-size: 0px;
    background: #ccd0d9
}

.footer .nums li a {
    display: block;
    color: #656d78;
    text-decoration: none
}

.footer .nums li a:hover {
    color: #f84858
}

.footer .service {
    color: #434a54;
    font-size: 12px;
    padding: 20px 0px 20px 0px
}

.footer .service a {
    color: #434a54;
    text-decoration: none
}

.footer .service a:hover {
    color: #f84858
}

.footer .service dl {
    float: left;
    width: 10%;
    padding-left: 4.4%
}

.footer .service dl dt {
    font-weight: 700;
    margin-bottom: 6px
}

.footer .service dl dd {
    height: 24px;
    line-height: 24px
}

.footer .service dl dd.sina span {
    margin-right: 2px;
    vertical-align: -3px;
    _vertical-align: 1px;
    _margin-right: 6px
}

.footer .service dl dd.sina .icon-common-sina {
    _background-position: -485px -2px
}

.footer .service dl dd.sina:hover .icon-common-sina {
    background-position: -485px -2px
}

.footer .service dl dd.kongjian span {
    vertical-align: -3px;
    _vertical-align: -2px;
    margin-right: 2px;
    _margin-right: 5px
}

.footer .service dl dd.kongjian .icon-common-kongjian {
    _background-position: -485px -23px
}

.footer .service dl dd.kongjian:hover .icon-common-kongjian {
    background-position: -485px -23px
}

.footer .service dl dd.facebook span {
    vertical-align: -6px;
    _vertical-align: -3px;
    margin-right: 1px;
    _margin-right: 6px;
    cursor: pointer
}

.footer .service dl dd.facebook .icon-common-weixin {
    _background-position: -486px -51px
}

.footer .service dl dd.facebook:hover .icon-common-weixin {
    background-position: -486px -51px
}

.footer .service dl dd a {
    display: inline-block;
    height: 24px;
    line-height: 24px;
    cursor: pointer
}

.footer .service .online {
    float: right;
    width: 200px;
    margin-right: 20px;
    font-size: 12px
}

.footer .service .online ul {
    text-align: right
}

.footer .service .online ul .item1 {
    height: 24px;
    line-height: 24px;
    font-size: 24px;
    overflow: hidden;
    margin-bottom: 6px
}

.footer .service .online ul .item1 .icon-common-tel {
    vertical-align: -4px;
    margin-right: 14px
}

.footer .service .online ul .item2 {
    line-height: 20px;
    margin-bottom: 6px;
    font-size: 12px
}

.footer .service .online ul .item3 {
    text-align: left
}

.footer .service .online ul .item3 a {
    float: right;
    display: block;
    width: 190px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    font-size: 16px;
    overflow: hidden;
    text-decoration: none;
    border-radius: 6px;
    *zoom: 1
}

.footer .service .online ul .item3 a span {
    margin-right: 8px;
    vertical-align: middle;
    _margin-top: 5px;
    _vertical-align: 0px
}

.footer .info {
    line-height: 2;
    color: #434a54;
    font-size: 12px;
    text-align: center;
    padding: 20px 0px 30px 0px
}

.footer .info a {
    color: #434a54;
    text-decoration: none;
    margin: 0px 5px 0px 5px
}

.footer .info a:hover {
    color: #f84858
}

.footer .info em {
    display: inline-block;
    width: 1px;
    height: 12px;
    vertical-align: -2px;
    background: #ccd1d9
}

.footer .info p {
    margin: 0
}

.footer .info img {
    display: block;
    width: 194px;
    margin: 0px auto;
    margin-top: 20px
}

.footer .believe {
    padding: 0px 0px 80px;
    text-align: center
}

.footer .believe a {
    margin: 0px 3px
}

.footer .believe img {
    border: none;
    height: 42px
}

.fileinput-button {
  position: relative;
  overflow: hidden;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px;
  direction: ltr;
  cursor: pointer;
}

/* Fixes for IE < 8 */
@media screen\9 {
  .fileinput-button input {
    filter: alpha(opacity=0);
    font-size: 100%;
    height: 100%;
  }
}

.bs-callout {
    margin: 20px 0;
    padding: 20px;
    border-left: 3px solid #eee
}

.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px
}

.bs-callout p:last-child {
    margin-bottom: 0
}

.bs-callout code {
    background-color: #fff;
    border-radius: 3px
}

.bs-callout-danger {
    background-color: #fdf7f7;
    border-color: #d9534f
}

.bs-callout-danger h4 {
    color: #d9534f
}

.bs-callout-warning {
    background-color: #fcf8f2;
    border-color: #f0ad4e
}

.bs-callout-warning h4 {
    color: #f0ad4e
}

.bs-callout-info {
    background-color: #f4f8fa;
    border-color: #5bc0de
}

.bs-callout-info h4 {
    color: #5bc0de
}