/*
 *= require ratchet_base
*/

.my-head {
  background-color: #ffffff;
  height: 120px;
  .bar {
    background-color: #ffffff;
  }
}
.my-head-title {
  width: 100%;
  height: 100%;
  position: fixed;
  .title {
  }
}
.slider .slide img {
    width: 100%;
    height: auto;
    display: block;
}