/*
 *= require ratchet_base
 *= require ratchet_ios
*/

.my-head {
  background-color: #ffffff;
  height: 120px;
}
.my-head-blank {
  height: 60px;
}
.my-head-title {
  height: 30px;
}
.my-head-bar {
  height: 30px;
}