= form_for([:manage, :restaurant, @restaurant, @dinner_table], html: { class: "form-horizontal" }) do |f|
  = render "shared/form_error_messages", form: f
  .form-group
    = f.label :name, class: "col-sm-2 control-label"
    .col-sm-10
      = f.text_field :name, class: "form-control"
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit "保存", class: "btn btn-info"

javascript:
  $('#new_dinner_table').validate({
    rules: {
      'dinner_table[name]': {
        required: true
      }
    },
    messages: {
      'dinner_table[name]': {
        required: '名称不能为空！'
      }
    }
  });