<%= render 'cpanel/shared/products_sidebar' %>
<div class="col-md-10">
  <div class="content">
    <ul class="breadcrumb">
      <li>管理面板</li>
      <li>商品管理</li>
      <li>修改商品</li>
    </ul>
    <div class="row">
      <div class="col-md-10">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>